name: Publish

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.17.x"
          registry-url: 'https://registry.npmjs.org'

      - name: Upgrade npm
        run: |
          npm install -g npm@11.5.1
          npm --version

      - name: Install Dependencies
        run: yarn install

      - name: Test
        run: yarn test --coverage

      - name: Publish
        run: |
          npm config delete //registry.npmjs.org/:_authToken || true
          npm publish --access public

      - name: Codecov
        run: yarn codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
